@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
  margin: 0;
  padding: 0;
}

.container-persona {
  background-color: #f2f3f7;
}

.btn-success {
  background-color: #68953a;
  border-color: #68953a;
}

.btn-primary{
  background-color: #005aa0;
  border-color: #005aa0;
}

.row-form label{
  padding-bottom: 2%;
}
